<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Add EJS</title>
</head>
<body>
      <h1>Add </h1> 

		<label for="nameIn"> Name</label>
		<input type="text" id="nameIn"> <br>
		<label for="regionIn"> Region </label>
		<input type="text" id="regionIn"> <br>
		<label for="typeIn"> Type</label>
		<input type="text" id="typeIn"> <br>
		<label for="countryIn"> Country</label>
		<input type="text" id="countryIn"> <br>
		<label for="lonIn"> Longitude</label>
		<input type="text" id="lonIn"> <br>
		<label for="latIn"> Latitude</label>
		<input type="text" id="latIn"> <br>
		<label for="desIn"> Description</label>
		<input type="text" id="desIn"> <br>
		<input type="submit" id="sendIn" value="Add In!"> <br> <br>
</body>
</html>
